# MongoDB Atlas Connection
MONGODB_URI=mongodb://localhost:27017/fwc-smarthr

# NextAuth Config
NEXTAUTH_SECRET=8f5ea055df27d78074d6c4a30e2f5f14e7a2b992164c6198f26a57c50be62817
NEXTAUTH_URL=http://localhost:3000

# Google Gemini API (Primary LLM)
GEMINI_API_KEY=

# Hugging Face Inference API Token (Secondary LLM)
HUGGINGFACE_API_TOKEN=

# Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Upstash Redis Cache Config
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Resend Email Integration
RESEND_API_KEY=
